@import "libs/_elements";
@import "libs/_blank";
//@import "libs/_fsize";
/*
================================================================================
|                                     reset                                     |
================================================================================
*/
@import "libs/_reset";
/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/
@import "libs/_fonts";

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	//margin: 0 auto;
	//-webkit-tap-highlight-color: transparent;
	
	position: relative;
	max-width: 980px;
	// max-height: 640px;
	margin: 0 auto;
	// max-height: 100vh;
	background-color: #f5f6fb;
}

section {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0 40px;
	height: 100%;
}

html,
body {
	height: 100%;
	min-height: 506px;
	//overflow: hidden;
}

ul {
	margin-top: 15px;
}


li {
	margin-bottom: 15px;
}

.inp {
	margin-top: 30px;
	border: 1px solid red;
}